@model RoleBasedAuthorization.Models.Roles

@{ 
    ViewData["Title"] = "Edit Role Permission";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit Role Permission</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form id="create-form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="Title">Title</label>
                            <input type="hidden" class="form-control" id="Roles_Master_Id" value="@Model.Roles_Master_Id">
                            <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" placeholder="Enter Title">
                        </div>
                        <div class="form-group">
                            <label for="Description">Description</label>
                            <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" placeholder="Enter Description">
                        </div>
                    </div>
                    <table id="permissionTable" class="cell-border" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                @*
                                <th>
                                    SL
                                </th>*@
                                <th>
                                    Menu Id
                                </th>
                                <th>
                                    Menu Name
                                </th>
                                <th>
                                    URL
                                </th>
                                <th>
                                    View
                                </th>
                                <th>
                                    Create
                                </th>
                                <th>
                                    Update
                                </th>
                                <th>
                                    Delete
                                </th>
                            </tr>
                        </thead>
                        @*
                        <tbody id="addPurchaseItem">
                        </tbody>*@
                    </table>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-danger">Submit</button>
                        @*<button id="saveOrder" type="submit" class="btn btn-danger">Save Order</button>*@
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="application/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Roles/PermissionWithRoleId',
            method: 'get',
            dataType: 'json',
            data: {
                id: $('#Roles_Master_Id').val(),
            },
            // data:data,
            success: function (data) {
                console.log(data);
                $('#permissionTable').dataTable({
                    data: data,
                    'paging': false,
                    'sort': false,
                    'searching': false,
                    //'scrollY': 200,
                    //'scrollX': 700,
                    columns: [
                        //{
                        //    "data": "CustomerImage", "width": "50px", "render": function (data) {
                        //        return '<img class="rounded img-thumbnail" style="width:60px; height:58px;" src="/Images/Customers/' + data + '"/>';
                        //    }
                        //},
                        //{ 'data': 'sl', 'autowidth': true },
                        //{ 'data': 'menuId', 'autowidth': true },
                        //{ 'data': 'menuName', 'autowidth': true },
                        {
                            'data': 'menuId', 'width': '10px',
                            render: function (data, type, row) {
                                return '<input type="text" name="MenuId" id="MenuId_' + row.sl + '" readonly class="form-control text-right"  placeholder="MenuId" required="" aria-required="true" value= ' + data + '>';
                            }
                        },
                        {
                            'data': 'menuName', 'autowidth': true,
                            render: function (data, type, row) {
                                return '<input type="text" name="MenuName" id="MenuName_' + row.sl + '" readonly class="form-control text-right"  placeholder="MenuName" required="" aria-required="true" value= ' + data + '>';
                            }
                        },
                        {
                            'data': 'url', 'autowidth': true,
                            render: function (data, type, row) {
                                return '<input type="text" name="Url" id="Url_' + row.sl + '" readonly class="form-control text-right"  placeholder="Url" required="" aria-required="true" value= ' + data + '>';
                            }
                        },
                        //{
                        //    'data': 'view',
                        //    'sortable': false,
                        //    'searchable': false,
                        //    'render': function (data) {
                        //        if (!data) {
                        //            return '<input type="checkbox"  data="' + data + '"  id="view" />'
                        //        }
                        //        else {
                        //            return '<input type="checkbox"  data="' + data + '"  id="view" />'
                        //        }
                        //    }
                        //},
                        //{
                        //    'data': 'view',
                        //    'sortable': false,
                        //    'searchable': false,
                        //    'render': function (view) {

                        //        if (view == 'true') {
                        //            return '<input type=checkbox onclick=chkstatus(this)  value=' + view + ' id=chk_sts_str checked=checked >'
                        //        } else {
                        //            return '<input type=checkbox onclick=chk_status(this) value=' + view + '  id=chk_sts_str>'
                        //        }
                        //    }
                        //},
                        //{
                        //    'data': 'view',
                        //    'sortable': false,
                        //    'searchable': false,
                        //    'render': function (view) {
                        //        console.log(view);
                        //        if (!data) {
                        //            return '<input type="checkbox" onclick="chk_status(this)" data-id="' + view + '"  id="chk_sts_str" />'
                        //        }
                        //        else {
                        //            return '<input type="checkbox" onclick="chk_status(this)" data-id="' + view + '"  id="chk_sts_str" />'
                        //        }
                        //    }
                        //},
                        {
                            'data': 'viewPermission', 'autowidth': true,
                            render: function (data, type, row) {
                                if (data == true) {
                                    return '<input type="checkbox"  id="View_' + row.sl + '"  placeholder="View" checked=checked  value= ' + data + '>';
                                }
                                else {
                                    return '<input type="checkbox"  id="View_' + row.sl + '"  placeholder="View"  value= ' + data + '>';
                                }

                            }
                        },
                        {
                            'data': 'createPermission', 'autowidth': true,
                            render: function (data, type, row) {
                                if (data == true) {
                                    return '<input type="checkbox"  id="Create_' + row.sl + '"  placeholder="View" checked=checked  value= ' + data + '>';
                                }
                                else {
                                    return '<input type="checkbox"  id="Create_' + row.sl + '"  placeholder="View"  value= ' + data + '>';
                                }

                            }
                        },
                        {
                            'data': 'editPermission', 'autowidth': true,
                            render: function (data, type, row) {
                                if (data == true) {
                                    return '<input type="checkbox"  id="Edit_' + row.sl + '"  placeholder="View" checked=checked  value= ' + data + '>';
                                }
                                else {
                                    return '<input type="checkbox"  id="Edit_' + row.sl + '"  placeholder="View"  value= ' + data + '>';
                                }

                            }
                        },
                        {
                            'data': 'deletePermission', 'autowidth': true,
                            render: function (data, type, row) {
                                if (data == true) {
                                    return '<input type="checkbox"  id="Delete_' + row.sl + '"  placeholder="View" checked=checked  value= ' + data + '>';
                                }
                                else {
                                    return '<input type="checkbox"  id="Delete_' + row.sl + '"  placeholder="View"  value= ' + data + '>';
                                }

                            }
                        },
                        //{
                        //    'title': 'view',
                        //    'data': 'view',
                        //    render: (data, type, row, meta) => `<input type="checkbox" id=view style="float:right;margin-right:28px" class="regularchckbx" value=" + data + "></input>`
                        //},
                        //{
                        //    'data': 'view', render: function (data, type, row) {
                        //        return '<input type="checkbox" id=view style="float:right;margin-right:28px" class="regularchckbx" value=' + data + '>';
                        //    }
                        //}
                        //{
                        //    'title': 'create',
                        //    'data': 'create',
                        //    render: (data, type, row, meta) => `<input type="checkbox" colindex="${meta.col}" ${data ? 'checked' : ''} style="float:right;margin-right:28px" class="regularchckbx"></input>`
                        //},
                        //{
                        //    'title': 'edit',
                        //    'data': 'edit',
                        //    render: (data, type, row, meta) => `<input type="checkbox" colindex="${meta.col}" ${data ? 'checked' : ''} style="float:right;margin-right:28px" class="regularchckbx"></input>`
                        //},
                        //{
                        //    'title': 'delete',
                        //    'data': 'delete',
                        //    render: (data, type, row, meta) => `<input type="checkbox" colindex="${meta.col}" ${data ? 'checked' : ''} style="float:right;margin-right:28px" class="regularchckbx"></input>`
                        //},
                        //{ 'data': 'batch_No', 'autowidth': true },
                        //{ 'data': 'quantity', 'autowidth': true },
                        //{ 'data': 'buying_Price', 'autowidth': true },
                        //{
                        //    'data': 'buying_Price', render: function (data, type, row) {
                        //        return "৳ " + data;
                        //    }
                        //},
                        //{
                        //    'data': 'selling_Price', render: function (data, type, row) {
                        //        return "৳ " + data;
                        //    }
                        //},
                        //{ 'data': 'selling_Price', 'autowidth': true },
                    ]
                })
            }

        });

        //function saveOrder(data) {
        //    return $.ajax({
        //        contentType: 'application/json; charset=utf-8',
        //        dataType: 'json',
        //        type: 'POST',
        //        url: "/Roles/Create",
        //        data: data,
        //        success: function (result) {
        //            alert(result);
        //            location.reload();
        //        },
        //        error: function () {
        //            alert("Error!")
        //        }
        //    });
        //}

        //$('#View_1').click(function () {
        //    alert("Checkbox state (method 1) = " + $('#View_1').prop('checked'));
        //    alert("Checkbox state (method 2) = " + $('#View_1').is(':checked'));
        //});

        $("#create-form").submit(function (event) {
            //alert('ok')
            //var isOK = ValidateEditForm();
            var row = $("#permissionTable tbody tr").length;
            /*                alert($('#MenuId_' + 1).val())*/
            //alert('ok1');
            var detailArr = [];
            detailArr.length = 0;
            var b = 1;
            $.each($("#permissionTable tbody tr"), function () {
                //var row = $("#purchaseTable tbody tr").length;
                //var table = $('#purchaseTable').DataTable();

                //$('#purchaseTable tbody').on('click', 'tr', function () {
                //    console.log(table.row(this).data());
                //});

                detailArr.push({
                    //productName: $(this).find('td:eq(0)').html(),
                    //quantity: $(this).find('td:eq(1)').html(),
                    //price: $(this).find('td:eq(2)').html(),
                    //amount: $(this).find('td:eq(3)').html()
                    MenuId: $('#MenuId_' + b).val(),
                    MenuName: $('#MenuName_' + b).val(),
                    Url: $('#Url_' + b).val(),
                    View: $('#View_' + b).is(":checked"),
                    Create: $('#Create_' + b).is(":checked"),
                    Edit: $('#Edit_' + b).is(":checked"),
                    Delete: $('#Delete_' + b).is(":checked")
                    //View: $('#View_' + b).val()
                });
                console.log(detailArr);
                b = b + 1;
            });

            //var input = InputValidation('Quantity_' + row) + InputValidation('Medicine_Name_' + row);
            //if (input == 0) {
            var formData = {
                //name: $("#name").val(),
                //address: $("#address").val(),
                //order: orderArr
                Roles_Master_Id: $("#Roles_Master_Id").val(),
                //Supplier_Id: $("#Supplier_Id").val(),
                //Purchase_Date: $("#Purchase_Date").val(),
                //Invoice_No: $("#Invoice_No").val(),
                //Details: $("#Details").val(),
                //Payment_Type: $("#Payment_Type").val(),
                //Status: $("#Status").val(),
                //Discount_Price: $("#Discount_Price").val(),
                //Grand_Total: $("#Grand_Total").val(),
                Title: $("#Title").val(),
                Description: $("#Description").val(),
                //      //view: $("#Description").val(),
                //      rolesDetails: orderArr
                RolesDetails: detailArr
            };
            //}

            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Roles")',
                data: formData,
                dataType: "json",
                encode: true,
            }).done(function (data) {
                console.log(data);

                window.location.href = "/Roles/Index";

                //toastr.success('Current Day & Time');
                //alert("successfully updated");
                //location.assign('@Url.Action("_ManagePurchase")');
                //location.reload();
            });

            event.preventDefault();

        });

        //$("#saveOrder").click(function (e) {
        //    e.preventDefault();
        //    var view = $('#chk_sts_str').val();
        //    alert(view);
        //    var orderArr = [];
        //    orderArr.length = 0;

        //    $.each($("#permissionTable tbody tr"), function () {
        //        orderArr.push({
        //            menuId: $(this).find('td:eq(0)').html(),
        //            menuName: $(this).find('td:eq(1)').html(),
        //            view: $('#chk_sts_str').val()
        //            //amount: $(this).find('td:eq(3)').html()
        //        });
        //    });


        //    var data = JSON.stringify({
        //        title: $("#Title").val(),
        //        description: $("#Description").val(),
        //        //view: $("#Description").val(),
        //        rolesDetails: orderArr
        //    });

        //});
        //$.when(saveOrder(data)).then(function (response) {
        //    console.log(response);
        //}).fail(function (err) {
        //    console.log(err);
        //});
    });
    function chk_status(ele) {
        alert("Selected data id is : " + $(ele).data('id'));
    }
</script>
